.pregunta1{
   background-color: lightblue; 
    font-size: large;
    color: black;
}


.remoto{
  margin-left: 22px;
  top: -14px;
   
}
body{
    background-image: url(./fondo.png);
    background-position: center;
    color: white;
    background-attachment: fixed;
   text-align: center;

}
.gitc{
    margin-top: 15px;
    margin-left: 12px;
    width: 470px;
    height: auto;
}
.all{
    text-align: center;
}
.giti{
    margin-top: 15px;
    margin-left: 12px;
    width: 470px;
    height: auto;
}

.rename{
    width: 470px;
    height: auto;
}
.urlimg{
    width:400px ;
    height:auto;
}

.gitadd{
    width: 470px;
    height: auto;
}
/*Tengo que volver a editar las fotos por que se ven fatal
Daylto :)
*/
.local{
    width:500px ;
    height:auto;
}
.remoto{
    width:500px ;
    height:auto;
}
.RepositorioRemoto{
    width:400px ;
    height:auto;
}
/*Es hasta aqui*/
